<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
    <link rel="stylesheet" href="../Styles/AboutStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <img src="../Content/Sebulba.gif" alt="Sebulba" class="logo">
            <ul>
                <li>
                    <a href="../index.html">MAIN</a>
                </li>
                <li>
                    <a href="Contact.html">CONTACT</a>
                </li>
                <li class="burgerMenu">
                    <a href="#">
                        <div class="bar"></div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="gradient-background"></div>
    <div class="gradient-foreground"></div>
    <div class = "aboutMe">
    <h1 data-value = "ABOUT ME" style="font-size: 60px;">ABOUT ME</h1></div>
    <div class="container">
        <img src="../Content/Giuliano_About_Me.jpg" alt="Giuliano Di Lallo">
    </div>
    <div class="card">
        <div class="card-content">
            <h1>Sebulba Was The Best Racer</h1>
            <p>If he started using his actual hands to race, maybe he would have won against the literal child.</p>
            <p>and now for lorem ipsum: :D</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at lacinia metus. Maecenas auctor, lacus id feugiat efficitur, purus enim consectetur velit, sit amet ultricies dolor tellus id magna. Curabitur gravida dapibus odio, non ultricies eros sollicitudin in. Duis aliquet lectus at arcu pharetra, sed scelerisque neque consectetur. Nulla euismod, lacus nec ultrices tincidunt, dui lacus rutrum nisi, sit amet consequat magna eros in tellus. Vestibulum consectetur cursus dolor at faucibus. Sed facilisis ante in sollicitudin eleifend. Nunc placerat, erat et elementum dictum, nisi velit pulvinar ex, in lobortis lectus velit nec lectus. Morbi interdum sapien non risus efficitur, id sagittis mi rhoncus.</p>
            <p>Aliquam gravida tristique justo eget congue. Sed nec iaculis nulla. Aenean at sem sed arcu volutpat rutrum. Nunc mollis interdum metus, et iaculis eros euismod non. Maecenas feugiat orci mauris, in pellentesque justo dapibus a. Integer ut nulla a elit iaculis varius in a urna. Sed malesuada ultrices lectus at volutpat. Vivamus eu dolor nec lectus ultrices commodo. In feugiat cursus eros, nec vestibulum velit. In bibendum semper neque nec dignissim. Vestibulum maximus convallis magna, in tempus metus pharetra non. Suspendisse potenti. Vestibulum eleifend maximus volutpat. Sed posuere, metus at elementum dictum, lorem ipsum porta nulla, ut viverra quam nulla a sem.</p>
        </div>
    </div>

    <script src="../JS/AboutScript.js"></script>
</body>
</html>