<!DOCTYPE html>
<html>
    <head>
        <title>Newsletter Signup</title>
        <link rel="stylesheet" href="../Styles/NewsletterStyle.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav>
                <img src="../Content/Giuliano.jpg" alt="GIULIANO DI LALLO" class="logo">
                <ul>
                    <li>
                        <a href="../Index.html">MAIN</a>
                    </li>
                    <li>
                        <a href="About.html">ABOUT</a>
                    </li>
                    <li>
                        <a href="Contact.html">CONTACT</a>
                    </li>
                    <li class="burgerMenu">
                        <a href="#">
                            <div class="bar"></div>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        
        <video src="../Content/Walt please just hear me out meme.mp4" controls></video>

        <div class="card">
            <div class="card-content">
                <h1 data-value = "NEWSLETTER" style="font-size: 60px;">NEWSLETTER</h1>
                <p>Sign up for my newsletter to be the first to hear about my upcoming projects, discounts, and updates!</p>
             </div>
        </div>

        <div class ="hero">
            <form>
                <div class="input-group">
                    <input type="text" id="email" required>
                    <label for="email">Email</label>
                </div>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
        <script src = "../JS/NewsletterScript.js"></script>
    </body>
</html>